{% load i18n %}
<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link {% if tab == 'assemblies' %}active{% endif %}"
           href="{% url 'ephios_shift_coordination:assembly_list' %}">
            <i class="fas fa-users" aria-hidden="true"></i> {% translate "Assemblies" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if tab == 'minutes' %}active{% endif %}"
           href="{% url 'ephios_shift_coordination:minutes_list' %}">
            <i class="far fa-file-pdf" aria-hidden="true"></i> {% translate "Assembly minutes" %}
        </a>
    </li>
</ul>
